.product {
  padding: 40px 0;

  &:not(:first-of-type) {
    border-top: 1px solid black; 
  }

  &__config {
    &:not(:last-of-type) {
      padding-bottom: 20px;
    }
  }
}

.logo {
  height: 104px;
  width: auto;
}