.ad-markup {
    padding-bottom: 20px;
}

.ad-product {
    padding: 40px;
    border: 1px solid #cecece;    
  
    &__img {
      padding-bottom: 40px;
      
      img {
        width: 100%;
      }
    }
  
    &__infoBox {
      text-align: center;
      border: 1px solid #cecece;
      padding: 20px;
  
      h1 {
        margin: 0;
        padding: 0 0 20px 0;
        font-size: 18px;
        line-height: 24px;
      }
  
      a {
        display: inline-block;
        border-radius: 3px;
        text-decoration: none;
        padding: 10px;
      }
    }
  }