<div ng-if="vm.data">
  <div id="ad-markup" class="ad-markup">
      <div class="ad-product" ng-repeat="product in vm.data" >
        <div class="ad-product__img">
          <img ng-src="{{ product.img }}" alt="">        
        </div>
        <div  class="ad-product__infoBox"
              ng-style="{ 'background-color': product.infoBox.backgroundColor, 'color': product.infoBox.textColor}">
          <h1>{{ product.name }}</h1>
          <a  href="{{ product.link.url }}" 
              ng-style="{ 'background-color': product.link.backgroundColor, 'color': product.link.textColor}">
            {{ product.link.text }}
          </a>
        </div>
      </div>
    </div>
    
    <md-input-container class="md-block">
      <label>Code</label>
      <textarea id="input" ng-model="vm.compiledMarkUp" rows="10"></textarea>
    </md-input-container>
</div>
