// ==================================================== //
// MEDIA QUERIES
// ==================================================== //

$screen-xs-min: 319px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xlg-min: 1400px;

// ==================================================== //
// COLORS
// ==================================================== //

$color-white: #fff;
$color-black: #000;

// ==================================================== //
// FONT-SIZES
// ==================================================== //

$base-size: 1rem;

$font-size: 1rem;
$line-height: $font-size * 1.4;

$font-size-xs: $base-size * 1.2;
$line-height-xs: $base-size * 1.6;

$font-size-sm: 1.6rem;
$line-height-sm: 2.2rem;

$font-size-md: 1.8rem;
$line-height-md: 2.5rem;

$font-size-lg: 3rem;
$line-height-lg: $font-size-lg * 1.1;

$font-size-xlg: 4rem;
$line-height-xlg: $font-size-xlg * 1.1;

// ==================================================== //
// SPACING
// ==================================================== //

$xs-size: $base-size / 4;
$sm-size: $base-size / 2;
$md-size: $base-size * 2;
$lg-size: $base-size * 3;

// ==================================================== //
// BORDERS
// ==================================================== //

