body {
  font-size: 16px;
  height: auto;
}

// ==================================================== //
// HEADLINES
// ==================================================== //

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}


h1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: $font-size-xlg;
  line-height: $line-height-xlg;
}

h2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  font-weight: bold;
}

h3 {
  font-size: $font-size-md;
  line-height: $line-height-md;
  padding-top: 1rem;
  padding-bottom: 1.25rem;
}

img {
  width: 100%;
}

header {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100vw;
    transform: translateX(-50%);
    left: 50%;    
    background-color: #ecf0f1;
  }
}

md-input-container {
  label {
    display: block;
  }

  textarea {
    width: 100%;
    max-height: 300px!important;
    overflow-y: scroll;
  }
}
