<div class="container">
  <header>
    <div class="row">
      <div class="col-sm-6">
        <h1>{{ vm.title }}</h1>
      </div>
      <div class="col-sm-6 text-right">
        <img class="logo" ng-src="{{ vm.brandImage }}" alt="Logo">
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-sm-6">
      <h2>Properties:</h2>
      <div class="product" ng-repeat="product in vm.products">
        <div class="product__config">
          <h3>Product Info Box</h3>
          <md-input-container>
            <label>Background Color</label>
            <input ng-model="product.infoBox.backgroundColor">
          </md-input-container>
          <md-input-container>
            <label>Text Color</label>
            <input ng-model="product.infoBox.textColor">
          </md-input-container>
        </div>
        <div class="product__config">
          <h3>Link Button</h3>
          <md-input-container>
            <label>Background Color</label>
            <input ng-model="product.link.backgroundColor">
          </md-input-container>
          <md-input-container>
            <label>Text Color</label>
            <input ng-model="product.link.textColor">        
          </md-input-container>      
        </div>
        <md-button class="md-raised md-primary" ng-click="vm.generateAd()">Get Product Feed and generate app</md-button>        
      </div>
    </div>
    <div class="col-sm-6">
      <h2>Preview:</h2>        
      <generated-ad></generated-ad>
    </div>
  </div>
</div>
